body {
    font-family: Arial, Helvetica, sans-serif;
}


#settings {
    padding: 2em 1em 1em 1em;

}

#settings label {
    font-weight: bold;

}

#settings select {
    width: 5em;
    font-size: large;
    margin-bottom: .5em;
}

#settings button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border: 1px solid gray;
    border-radius: 2px;
}

div.tower.done {
    border-bottom: 10px solid rgb(128, 0, 100);
    opacity: .5;
}

div.tower {
    border-bottom: 10px solid #ccc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* Align items to the bottom */
    align-content: end;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

div.tower:hover {
    background-color: #efefef;
}

div.disc {
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 8px 25px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#game-body {
    /* border: 1px solid black; */
    display: grid;
    /* padding-top: 50px; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* responsive bigger discs  */
@media(min-width: 600px) {
    body #game-body {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    div.disc {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

div.disc.selected {
    border: 1px solid red;
}

div.hand {
    margin-bottom: 10px;
}

div.hand.disc {
    width: 80%;
    border: 1px solid black;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

body.dark-mode button,
body.dark-mode select {
    background-color: #222;
    color: #ddd;
}

body.dark-mode label {
    color: #ddd;
}

body.dark-mode div.tower:hover {
    background-color: #333;
}

#pallet div {
    display: block;
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left
}