body {
    font-family: Arial, Helvetica, sans-serif;
}

#game-body {
    /* border: 1px solid black; */
    display: grid;
    /* padding-top: 50px; */
}

#settings {
    padding: 2em 1em 1em 1em;

}

#settings label {
    font-weight: bold;

}

#settings select {
    width: 5em;
    font-size: large;
}

#settings button {
    margin-top: 1em;
    padding: 0.5em 1em;
}

div.tower.done {
    border-bottom: 10px solid green;
}

div.tower {
    border-bottom: 10px solid #ccc;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* Align items to the bottom */
    align-content: end;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}

div.tower:hover {
    background-color: #efefef;
}

div.disc {
    display: inline-flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 8px 25px;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

div.disc.selected {
    border: 1px solid red;
}

div.hand {
    margin-bottom: 10px;
}

div.hand.disc {
    width: 80%;
    border: 1px solid black;
}